<main class="main-wrapper">
    <div class="axil-main-slider-area main-slider-style-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-sm-6">
                    <div class="main-slider-content">
                        <div class="slider-content-activation-one">
                            <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                                <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                <h1 class="title">Roco Wireless Headphone</h1>
                                <div class="slide-action">
                                    <div class="shop-btn">
                                        <a href="<%= baseUrl %>/shop" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                    </div>
                                    <div class="item-rating">
                                        <div class="thumb">
                                            <ul>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author1.png" alt="Author" /></li>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author2.png" alt="Author" /></li>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author3.png" alt="Author" /></li>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author4.png" alt="Author" /></li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                            <span class="rating-icon">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="review-text"> <span>100+</span> Reviews </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                <h1 class="title">Smart Digital Watch</h1>
                                <div class="slide-action">
                                    <div class="shop-btn">
                                        <a href="<%= baseUrl %>/shop" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                    </div>
                                    <div class="item-rating">
                                        <div class="thumb">
                                            <ul>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author1.png" alt="Author" /></li>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author2.png" alt="Author" /></li>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author3.png" alt="Author" /></li>
                                                <li><img src="<%= baseUrl %>/assets/images/others/author4.png" alt="Author" /></li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                            <span class="rating-icon">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="review-text"> <span>100+</span> Reviews </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div class="main-slider-large-thumb">
                        <div class="slider-thumb-activation-one axil-slick-dots">
                            <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                <img src="<%= baseUrl %>/assets/images/products/product-1.png" alt="Product" />
                                <div class="product-price">
                                    <span class="text">From</span>
                                    <span class="price-amount">$49.00</span>
                                </div>
                            </div>
                            <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                <img src="<%= baseUrl %>/assets/images/products/product-2.png" alt="Product" />
                                <div class="product-price">
                                    <span class="text">From</span>
                                    <span class="price-amount">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1"><img src="assets/images/others/shape-1.png" alt="Shape" /></li>
            <li class="shape-2"><img src="assets/images/others/shape-2.png" alt="Shape" /></li>
        </ul>
    </div>

    <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Categories</span>
                <h2 class="title">Browse by Category</h2>
            </div>
            <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                <% for (const category of categories) { %>
                <div class="slick-single-layout">
                    <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                        <a href="<%= baseUrl %>/shop?category=<%= category.slug %>">
                            <img class="img-fluid" src="<%= baseUrl %>/assets/images/categories/<%= category.slug %>.png" alt="<%= category.title %>" />
                            <h6 class="cat-title"><%= category.title %></h6>
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="axil-product-area bg-color-white axil-section-gap pt-0">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our Products</span>
                <h2 class="title">Explore our Products</h2>
            </div>
            <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout">
                    <div class="row row--15">
                        <% for (const product of latestProducts) { %>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                            <div class="axil-product product-style-one">
                                <div class="thumbnail">
                                    <div class="label-block label-right">
                                        <div class="product-badget">New</div>
                                    </div>
                                    <a href="<%= baseUrl %>/products/<%= product.slug %>">
                                        <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img" src="<%= product.thumb %>" alt="<%= product.title %>" />
                                        <img class="hover-img" src="<%= product.images[0] %>" alt="<%= product.title %>" />
                                    </a>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="quickview">
                                                <a href="<%= baseUrl %>/products/<%= product.slug %>"><i class="far fa-eye"></i></a>
                                            </li>
                                            <li class="select-option">
                                                <a href="javascript:void(0)" class="add-to-cart" data-product-id="<%= product.id %>">
                                                    Add to Cart
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title text-truncate"><a href="<%= baseUrl %>/products/<%= product.slug %>"><%= product.title %></a></h5>
                                        <div class="product-price-variant">
                                            <span class="price current-price">$<%= product.price %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center mt--20 mt_sm--0">
                    <a href="<%= baseUrl %>/shop" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
                </div>
            </div>
        </div>
    </div>

    <div class="axil-testimoial-area axil-section-gap bg-vista-white">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"> <i class="fal fa-quote-left"></i>Testimonials</span>
                <h2 class="title">Users Feedback</h2>
            </div>
            <div class="testimonial-slick-activation testimonial-style-one-wrapper slick-layout-wrapper--20 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>The website is well-organized, and I appreciate the detailed product descriptions and customer reviews. The customer service team was very helpful when I had questions about my order. A reliable online store!</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="<%= baseUrl %>/assets/images/testimonial/image-1.png" alt="User feedback" />
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">John Smith</h6>
                        </div>
                    </div>
                </div>
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>I had a great experience shopping with the website. The product selection is fantastic, and the prices are competitive. The checkout process was smooth, and my order arrived quickly. Highly recommend!</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="<%= baseUrl %>/assets/images/testimonial/image-2.png" alt="User feedback" />
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">Michael Davis</h6>
                        </div>
                    </div>
                </div>
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>The website is easy to navigate, and I like the filtering options to find what I need. My recent purchase was delivered on time, and the quality exceeded my expectations. I'll be shopping here again.</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="<%= baseUrl %>/assets/images/testimonial/image-3.png" alt="User feedback" />
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">James Brown</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="axil-product-area bg-color-white axil-section-gap">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> This Week’s</span>
                <h2 class="title">Best Sellers</h2>
            </div>
            <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout">
                    <div class="row row--15">
                        <% for (const product of popularProducts) { %>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                            <div class="axil-product product-style-one">
                                <div class="thumbnail">
                                    <a href="<%= baseUrl %>/products/<%= product.slug %>">
                                        <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img" src="<%= product.thumb %>" alt="<%= product.title %>" />
                                        <img class="hover-img" src="<%= product.images[0] %>" alt="<%= product.title %>" />
                                    </a>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="quickview">
                                                <a href="<%= baseUrl %>/products/<%= product.slug %>"><i class="far fa-eye"></i></a>
                                            </li>
                                            <li class="select-option">
                                                <a href="javascript:void(0)" class="add-to-cart" data-product-id="<%= product.id %>">
                                                    Add to Cart
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title text-truncate"><a href="<%= baseUrl %>/products/<%= product.slug %>"><%= product.title %></a></h5>
                                        <div class="product-price-variant">
                                            <span class="price current-price">$<%= product.price %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="axil-why-choose-area pt--50 pb--50 pb_sm--30">
        <div class="container">
            <div class="section-title-wrapper section-title-center">
                <span class="title-highlighter highlighter-secondary"><i class="fal fa-thumbs-up"></i>Why Us</span>
                <h2 class="title">Why People Choose Us</h2>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img src="<%= baseUrl %>/assets/images/icons/service6.png" alt="Service" />
                        </div>
                        <h6 class="title">Fast &amp; Secure Delivery</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img src="<%= baseUrl %>/assets/images/icons/service7.png" alt="Service" />
                        </div>
                        <h6 class="title">100% Guarantee On Product</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img src="<%= baseUrl %>/assets/images/icons/service8.png" alt="Service" />
                        </div>
                        <h6 class="title">24 Hour Return Policy</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img src="<%= baseUrl %>/assets/images/icons/service9.png" alt="Service" />
                        </div>
                        <h6 class="title">24 Hour Return Policy</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img src="<%= baseUrl %>/assets/images/icons/service10.png" alt="Service" />
                        </div>
                        <h6 class="title">Next Level Pro Quality</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="axil-poster">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb--30">
                    <div class="single-poster">
                        <a href="<%= baseUrl %>/shop">
                            <img src="<%= baseUrl %>/assets/images/home/poster-01.png" alt="Shop" />
                            <div class="poster-content">
                                <div class="inner">
                                    <h3 class="title">
                                        Rich sound, <br />
                                        for less.
                                    </h3>
                                    <span class="sub-title">Collections <i class="fal fa-long-arrow-right"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 mb--30">
                    <div class="single-poster">
                        <a href="<%= baseUrl %>/shop">
                            <img src="<%= baseUrl %>/assets/images/home/poster-02.png" alt="Shop" />
                            <div class="poster-content content-left">
                                <div class="inner">
                                    <span class="sub-title">50% Offer In Winter</span>
                                    <h3 class="title">
                                        Get VR <br />
                                        Reality Glass
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-newsletter-area axil-section-gap pt--0">
        <div class="container">
            <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                <div class="newsletter-content">
                    <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
                    <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                    <div class="input-group newsletter-form">
                        <div class="position-relative newsletter-inner mb--15">
                            <input placeholder="Enter your email here" type="text" />
                        </div>
                        <button type="submit" class="axil-btn mb--15">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>