<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register</title>
    <meta name="description" content="Just a simple website">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="<%= baseUrl %>/assets/images/favicon.png">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/vendor/base.css">
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/style.min.css">
</head>

<body>
    <div class="axil-signin-area">
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <a href="<%= baseUrl %>" class="site-logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/2560px-FPT_logo_2010.svg.png" width="100" alt="logo"></a>
                </div>
                <div class="col-sm-8">
                    <div class="singin-header-btn">
                        <p>Already a mamber?</p>
                        <a href="<%= baseUrl %>/auth/login" class="axil-btn btn-bg-secondary sign-up-btn">Sign In</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
                    <h3 class="title">We Offer the Best Products</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">I'm New Here.</h3>
                        <p class="b2 mb--55">Enter your detail below</p>
                        <form class="singin-form">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" value="" placeholder="Enter email"
                                    required>
                            </div>
                            <div class="form-group">
                                <label>First name</label>
                                <input type="text" class="form-control" name="firstName" value=""
                                    placeholder="Enter first game" required>
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" name="lastName" value=""
                                    placeholder="Enter last name" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" value=""
                                    placeholder="Enter password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm password</label>
                                <input type="password" class="form-control" name="confirmPassword" value=""
                                    placeholder="Enter confirm password" required>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" value=""
                                    placeholder="Enter address" required>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="phone" value="" placeholder="Enter phone"
                                    required>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="<%= baseUrl %>/assets/js/vendor/modernizr.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/jquery.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/popper.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/bootstrap.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/slick.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/js.cookie.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/sal.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/counterup.js"></script>
    <script src="<%= baseUrl %>/assets/js/vendor/waypoints.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/main.js"></script>
    <script>
        $(document).ready(() => {
            $('.singin-form').submit(async (event) => {
                event.preventDefault();
                const response = await fetch(window.location.href, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams(new FormData(event.target).entries())
                });
                const { status, message } = await response.json();
                alert(message);
                if (status === 'success') setTimeout(() => window.location.href = '/auth/login', 750);
            });
        })
    </script>
</body>

</html>