<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Just a simple website" name="description" />
    <link rel="shortcut icon" href="<%= baseUrl %>/assets/admin/images/favicon.ico">
    <link href="<%= baseUrl %>/assets/admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="<%= baseUrl %>/assets/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= baseUrl %>/assets/admin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="home-btn d-none d-sm-block">
        <a href="<%= baseUrl %>" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="<%= baseUrl %>/assets/admin/images/connecting.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="<%= baseUrl %>/assets/admin/libs/jquery/jquery.min.js"></script>
    <script src="<%= baseUrl %>/assets/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
