<% if (action === 'list') { %>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Users</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= adminUrl %>">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box me-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <form action="<%= adminUrl %>/users">
                                    <input type="text" class="form-control" name="search" value="<%= search %>" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <a class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2" href="<%= adminUrl %>/users/add">
                                <i class="mdi mdi-plus me-1"></i> Add new user
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="check-all">
                                        <label class="form-check-label" for="check-all"></label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Adress</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const user of users) { %>
                            <tr>
                                <td>
                                    <div class="form-check font-size-16">
                                        <input class="form-check-input" type="checkbox" id="user-check-<%= user.id %>">
                                        <label class="form-check-label" for="user-check-<%= user.id %>"></label>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-body fw-bold">#<%= user.id %></span>
                                </td>
                                <td><%= user.email %></td>
                                <td><%= user.firstName %></td>
                                <td><%= user.lastName %></td>
                                <td><%= user.phone %></td>
                                <td><%= user.address %></td>
                                <td>
                                    <%- user.role === 'admin' ? '<span class="badge badge-pill badge-soft-success font-size-12">Admin</span>' : '<span class="badge badge-pill badge-soft-primary font-size-12">User</span>' %>
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="<%= adminUrl %>/users/<%= user.id %>" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit user">
                                            <i class="mdi mdi-pencil font-size-18"></i>
                                        </a>
                                        <a href="<%= adminUrl %>/users/<%= user.id %>" class="text-danger btn-delete" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete user">
                                            <i class="mdi mdi-delete font-size-18"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% } if (!locals.users.length) { %>
                                <td class="text-center" colspan="9">Data empty!</td>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="text-sm-left">
                            <button type="button" class="btn btn-danger btn-rounded waves-effect waves-light btn-delete-checked"><i class="bx bx-trash"></i> Delete selected users</button>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <%- locals.users.length ? paginations : '' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } else if (action === 'add') { %>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Users</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= adminUrl %>">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-request" action="<%= adminUrl %>/users/add" method="POST">
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Fist Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="firstName" placeholder="Enter first name" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="lastName" placeholder="Enter last name" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Phone</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="phone" placeholder="Enter phone" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Address</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="address" placeholder="Enter address" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Role</label>
                        <div class="col-md-10">
                            <select class="form-control" name="role" required>
                                <option value="user">User</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">Submit</button>
                        <button type="reset" class="btn btn-secondary waves-effect">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Users</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= adminUrl %>">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <% if (!locals.user) { %>
                <span>User not found!</span>
                <% } else { %>
                <form class="form-request" action="<%= adminUrl %>/users/<%= user.id %>" method="PUT">
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" name="email" placeholder="Enter email" value="<%= user.email %>" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Fist Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="firstName" placeholder="Enter first name" value="<%= user.firstName %>" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="lastName" placeholder="Enter last name" value="<%= user.lastName %>" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" placeholder="Enter new password if you want to change">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Phone</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="phone" placeholder="Enter phone" value="<%= user.phone %>" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Address</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="address" placeholder="Enter address" value="<%= user.address %>" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Role</label>
                        <div class="col-md-10">
                            <select class="form-control" name="role" required>
                                <option value="user" <%= user.role === 'user' ? 'selected' : '' %>>User</option>
                                <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>Admin</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">Submit</button>
                        <button type="reset" class="btn btn-secondary waves-effect">Reset</button>
                    </div>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>
<% } %>